[bittensor_subnet]
# Single GPU miner example
192.168.1.1 ansible_user=root ansible_port=22 wallet_hotkeys='["miner"]' cuda_devices='["cuda"]' node_types='["miner"]'

# Single GPU validator example  
192.168.1.2 ansible_user=root ansible_port=22 wallet_hotkeys='["validator"]' cuda_devices='["cuda"]' node_types='["validator"]'

# Multi-GPU mixed host example
192.168.1.3 ansible_user=root ansible_port=22 wallet_hotkeys='["miner_1", "validator_1", "miner_2"]' cuda_devices='["cuda:0", "cuda:1", "cuda:2"]' node_types='["miner", "validator", "miner"]'
